@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Ovo&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*, ::before, ::after{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.16 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: currentColor;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: Poppins, sans-serif;
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

:root {
  --primary: 17 88% 58%;
  --secondary: 201 97% 25%;
  --border: 200 98% 25%;
  --white: 0 0% 100%;
}

.container-secondary{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 80rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

@media (min-width: 1536px){
  .container-secondary{
    max-width: 1490px;
  }
}

.hero-section{
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  align-items: center;
}

.hero-section .video-player{
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-bottom-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  padding-top: 70%;
}

.hero-section .video-player::after{
  position: absolute;
  inset: 0px;
  --tw-bg-opacity: 1;
  background-color: hsl(var(--secondary) / var(--tw-bg-opacity, 1));
  content: var(--tw-content);
  opacity: 0.8;
}

.hero-section .video-player div{
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 20;
  --tw-translate-x: -50%;
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.hero-section .video-player div > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(2.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(2.5rem * var(--tw-space-y-reverse));
}

@media (min-width: 1536px){
  .hero-section .video-player div > :not([hidden]) ~ :not([hidden]){
    --tw-space-y-reverse: 0;
    margin-top: calc(3rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(3rem * var(--tw-space-y-reverse));
  }
}

.hero-section .video-player video{
  position: absolute;
  inset: 0px;
  width: 100%;
}

.hero-section .video-player div h1{
  font-family: Oswald, sans-serif;
  font-size: 4.5rem;
  line-height: 1;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: hsl(var(--white) / var(--tw-text-opacity, 1));
}

@media (min-width: 1536px){
  .hero-section .video-player div h1{
    font-size: 6rem;
    line-height: 1;
  }
}

.hero-section img{
  margin-left: auto;
  margin-right: auto;
  margin-top: -3rem;
  height: auto;
  max-width: 32rem;
}

@media (min-width: 1536px){
  .hero-section img{
    max-width: 42rem;
  }
}

.btn{
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: hsl(var(--primary) / var(--tw-bg-opacity, 1));
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: hsl(var(--white) / var(--tw-text-opacity, 1));
}

@media (min-width: 1536px){
  .btn{
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

.regular-section{
  width: 100%;
}

.regular-section > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(4rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(4rem * var(--tw-space-y-reverse));
}

.regular-section{
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
}

@media (min-width: 768px){
  .regular-section{
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

@media (min-width: 1536px){
  .regular-section > :not([hidden]) ~ :not([hidden]){
    --tw-space-y-reverse: 0;
    margin-top: calc(6rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(6rem * var(--tw-space-y-reverse));
  }
}

.section-title{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: hsl(var(--secondary) / var(--tw-text-opacity, 1));
}

@media (min-width: 1536px){
  .section-title{
    font-size: 3rem;
    line-height: 1;
  }
}

.section-title::after {
  content: "";
  position: absolute;
  right: -4rem;
  top: -0.5rem;
  max-height: 2.75rem;
  min-height: 2.75rem;
  min-width: 2.75rem;
  max-width: 2.75rem;
  border-radius: 9999px;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: hsl(var(--primary) / var(--tw-border-opacity, 1));
}

.section-title::before {
  content: "";
  position: absolute;
  right: -4rem;
  top: -1.25rem;
  max-height: 1.5rem;
  min-height: 1.5rem;
  min-width: 1.5rem;
  max-width: 1.5rem;
  border-radius: 9999px;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: hsl(var(--secondary) / var(--tw-border-opacity, 1));
}

.section-title span{
  --tw-text-opacity: 1;
  color: hsl(var(--primary) / var(--tw-text-opacity, 1));
}

.section-sub-title{
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 300;
  --tw-text-opacity: 1;
  color: hsl(var(--secondary) / var(--tw-text-opacity, 1));
}

@media (min-width: 1536px){
  .section-sub-title{
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

.categories-list-home{
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 0.625rem;
}

.categories-list-home li a{
  position: relative;
  overflow: hidden;
  padding-top: 90%;
}

.categories-list-home li a::after {
  content: "";
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(2, 82, 125, 1) 100%
  );
  position: absolute;
  inset: 0px;
  z-index: 20;
  opacity: 0.6;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.categories-list-home li a:hover::after,
.categories-list-home li a:focus::after {
  content: "";
  background: transparent;
}

.categories-list-home li a img{
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.categories-list-home li div{
  position: absolute;
  bottom: 0.5rem;
  left: 1rem;
  z-index: 50;
}

.categories-list-home li a:hover div h5,
.categories-list-home li a:focus div h5{
  --tw-text-opacity: 1;
  color: hsl(var(--secondary) / var(--tw-text-opacity, 1));
}

.categories-list-home li div h5{
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: hsl(var(--white) / var(--tw-text-opacity, 1));
}

@media (min-width: 1536px){
  .categories-list-home li div h5{
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

.categories-list-home li div h6{
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  --tw-text-opacity: 1;
  color: hsl(var(--primary) / var(--tw-text-opacity, 1));
}

@media (min-width: 1536px){
  .categories-list-home li div h6{
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

.certificates-list{
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  gap: 0.875rem;
}

@media (min-width: 768px){
  .certificates-list{
    flex-wrap: nowrap;
  }
}

@media (min-width: 1536px){
  .certificates-list{
    gap: 1.25rem;
  }
}

.certificates-list li p{
  margin-top: 0.75rem;
  max-width: 13rem;
  text-align: center;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
}

.certificates-list li:nth-child(odd) p{
  --tw-text-opacity: 1;
  color: hsl(var(--primary) / var(--tw-text-opacity, 1));
}

.certificates-list li:nth-child(even) p{
  --tw-text-opacity: 1;
  color: hsl(var(--secondary) / var(--tw-text-opacity, 1));
}

.certificates-list li .certificates-img{
  position: relative;
  display: block;
  padding-top: 16rem;
}

.certificates-list li .certificates-img img{
  position: absolute;
  inset: 0px;
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.qualities-list{
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 6rem;
}

@media (min-width: 1536px){
  .qualities-list{
    gap: 9rem;
  }
}

.qualities-list li:nth-child(odd) .qualities-box{
  margin-left: auto;
}

.qualities-list li:nth-child(even) .qualities-box{
  margin-right: auto;
}

.qualities-box{
  min-height: 18rem;
  max-width: 415px;
}

.qualities-box > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
}

.qualities-box{
  border-radius: 0.75rem;
  padding: 1.75rem;
  box-shadow: 0px 0px 45.8px -9px rgba(2, 82, 125, 0.5);
}

.qualities-box p{
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: hsl(var(--secondary) / var(--tw-text-opacity, 1));
}

.qualities-box h6{
  margin-top: 1rem;
  text-align: center;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: hsl(var(--primary) / var(--tw-text-opacity, 1));
}

.qualities-box svg{
  margin-left: auto;
  margin-right: auto;
  margin-top: -4rem;
  height: 6rem;
  width: 7rem;
}

.home-prduct-list{
  width: 100%;
  overflow: hidden;
}

.home-prduct-list li{
  display: inline-block;
  padding-left: 3.5rem;
}

.home-prduct-list li:nth-child(1){
  padding-left: 0px;
}

.home-prduct-list li a{
  font-size: 1.25rem;
  line-height: 1.75rem;
  letter-spacing: 5px;
}

.home-prduct-list li:nth-child(odd) a{
  --tw-text-opacity: 1;
  color: hsl(var(--secondary) / var(--tw-text-opacity, 1));
}

.home-prduct-list li:nth-child(even) a{
  --tw-text-opacity: 1;
  color: hsl(var(--primary) / var(--tw-text-opacity, 1));
}

.product-list-marquee{
  display: flex;
  align-items: stretch;
}

.product-list-marquee li{
  position: relative;
  min-height: 20rem;
  min-width: 20rem;
}

.product-list-marquee.about li{
  min-height: 13rem;
  min-width: 13rem;
}

.product-list-marquee li:nth-child(odd) .hexagon{
  --tw-bg-opacity: 1;
  background-color: hsl(var(--primary) / var(--tw-bg-opacity, 1));
}

.hexagon{
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  clip-path: polygon(
    93.56% 74.55%,
    50.52% 100%,
    6.96% 75.45%,
    6.44% 25.45%,
    49.48% 0%,
    93.04% 24.55%,
    93.56% 74.55%,
    calc(93.04% - 0.86px) calc(24.55% - -0.51px),
    calc(49.48% - -0.01px) calc(0% - -1px),
    calc(6.44% - -0.87px) calc(25.45% - -0.49px),
    calc(6.96% - -0.86px) calc(75.45% - 0.51px),
    calc(50.52% - 0.01px) calc(100% - 1px),
    calc(93.56% - 0.87px) calc(74.55% - 0.49px),
    calc(93.04% - 0.86px) calc(24.55% - -0.51px)
  );
}

.product-list-marquee li:nth-child(even) .hexagon{
  --tw-bg-opacity: 1;
  background-color: hsl(var(--secondary) / var(--tw-bg-opacity, 1));
}

.product-list-marquee li img{
  position: absolute;
  left: 50%;
  top: 50%;
  --tw-translate-x: -50%;
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  -o-object-fit: contain;
     object-fit: contain;
}

.product-list-marquee.about li img{
  height: auto;
  width: 4rem;
}

.page-heading{
  width: 100%;
  --tw-bg-opacity: 1;
  background-color: hsl(var(--secondary) / var(--tw-bg-opacity, 1));
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  --tw-text-opacity: 1;
  color: hsl(var(--white) / var(--tw-text-opacity, 1));
}

@media (min-width: 640px){
  .page-heading{
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
  }
}

.page-heading h1{
  font-family: Oswald, sans-serif;
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
}

@media (min-width: 640px){
  .page-heading h1{
    font-size: 3rem;
    line-height: 1;
  }
}

@media (min-width: 768px){
  .page-heading h1{
    font-size: 80px;
  }
}

.page-heading h5{
  font-family: Ovo, serif;
  font-size: 1rem;
  line-height: 1.5rem;
}

@media (min-width: 768px){
  .page-heading h5{
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

.photos-grid{
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
}

@media (min-width: 768px){
  .photos-grid{
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (min-width: 1024px){
  .photos-grid{
    gap: 1.5rem;
  }
}

@media (min-width: 1536px){
  .photos-grid{
    gap: 2.25rem;
  }
}

.photos-grid li {
  box-shadow: 0px 0px 10px 1px rgba(2, 82, 125, 0.25);
}

.video-grid{
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1.5rem;
}

@media (min-width: 768px){
  .video-grid{
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 4rem;
  }
}

@media (min-width: 1024px){
  .video-grid{
    gap: 6rem;
  }
}

@media (min-width: 1536px){
  .video-grid{
    gap: 9rem;
  }
}

.video-grid li{
  overflow: hidden;
  border-radius: 1.5rem;
  --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  box-shadow: 0px 0px 10px 3px rgba(2, 82, 125, 0.6);
}

.video-grid li iframe{
  height: 13rem;
  width: 100%;
}

@media (min-width: 640px){
  .video-grid li iframe{
    height: 20rem;
  }
}

.filter-tab-list{
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  gap: 2rem;
  overflow-x: auto;
  padding-bottom: 0.625rem;
}

.filter-tab-list button{
  flex: 1 1 0%;
  text-wrap: nowrap;
  text-align: left;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: hsl(var(--secondary) / var(--tw-text-opacity, 1));
}

.filter-tab-list button.active,
.filter-tab-list button.mixitup-control-active{
  --tw-text-opacity: 1;
  color: hsl(var(--primary) / var(--tw-text-opacity, 1));
}

.product-grid{
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  -moz-column-gap: 1.25rem;
       column-gap: 1.25rem;
  row-gap: 6rem;
}

.product-grid .product-card > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(1.75rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.75rem * var(--tw-space-y-reverse));
}

.product-grid .product-card .img {
  box-shadow: 0px 0px 10px 0px rgba(2, 82, 125, 0.25);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.5rem;
  padding-top: 86%;
}

.product-grid .product-card .img img{
  position: absolute;
  inset: 0px;
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.product-grid .product-card h6{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.25rem;
  max-width: 16rem;
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.75rem;
  --tw-text-opacity: 1;
  color: hsl(var(--secondary) / var(--tw-text-opacity, 1));
}

@media (min-width: 1536px){
  .product-grid .product-card h6{
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

.product-grid .product-card .product-btn{
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 0.5rem;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: hsl(var(--primary) / var(--tw-border-opacity, 1));
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: center;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: hsl(var(--secondary) / var(--tw-text-opacity, 1));
}

@media (min-width: 1536px){
  .product-grid .product-card .product-btn{
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 2.75rem;
    padding-right: 2.75rem;
  }
}

.terms-list p{
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: hsl(var(--secondary) / var(--tw-text-opacity, 1));
}

@media (min-width: 640px){
  .terms-list p{
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.contact-info-box > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(1.75rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.75rem * var(--tw-space-y-reverse));
}

.contact-info-box{
  border-radius: 0.75rem;
  padding: 1rem;
  box-shadow: 0px 0px 45.8px -9px rgba(2, 82, 125, 0.3);
}

.contact-info-box h5{
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: hsl(var(--primary) / var(--tw-text-opacity, 1));
}

.contact-info-box a,
.contact-info-box p{
  display: block;
  text-align: center;
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-text-opacity: 1;
  color: hsl(var(--secondary) / var(--tw-text-opacity, 1));
}

.contact-info-box .icon{
  margin-left: auto;
  margin-right: auto;
  margin-top: -3rem;
  display: flex;
  max-height: 72px;
  min-height: 72px;
  min-width: 72px;
  max-width: 72px;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: hsl(var(--primary) / var(--tw-bg-opacity, 1));
  --tw-text-opacity: 1;
  color: hsl(var(--white) / var(--tw-text-opacity, 1));
}

@media (min-width: 1536px){
  .contact-info-box .icon{
    max-height: 90px;
    min-height: 90px;
    min-width: 90px;
    max-width: 90px;
  }
}

.contact-form{
  margin-left: auto;
  margin-right: auto;
  display: grid;
  width: 100%;
  max-width: 56rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1.25rem;
}

.contact-form input,
.contact-form select,
.contact-form textarea{
  border-radius: 0.75rem;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: hsl(var(--primary) / var(--tw-border-opacity, 1));
  --tw-bg-opacity: 1;
  background-color: hsl(var(--white) / var(--tw-bg-opacity, 1));
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.contact-form input::-moz-placeholder, .contact-form select::-moz-placeholder, .contact-form textarea::-moz-placeholder{
  --tw-text-opacity: 1;
  color: hsl(var(--secondary) / var(--tw-text-opacity, 1));
  opacity: 0.3;
}

.contact-form input::placeholder,
.contact-form select::placeholder,
.contact-form textarea::placeholder{
  --tw-text-opacity: 1;
  color: hsl(var(--secondary) / var(--tw-text-opacity, 1));
  opacity: 0.3;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
  box-shadow: 0px 0px 45.8px -9px rgba(2, 82, 125, 0.1);
}

.contact-form textarea{
  grid-column: span 2 / span 2;
  min-height: 11rem;
  resize: none;
}

footer{
  width: 100%;
  border-top-width: 4px;
  --tw-border-opacity: 1;
  border-color: hsl(var(--primary) / var(--tw-border-opacity, 1));
  box-shadow: 0px 0px 27px 19px rgba(1, 82, 124, 0.15);
}

footer .container-secondary {
  background-image: url("../images/footer-bg.png");
  max-width: 64rem;
}

footer .container-secondary > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(2rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(2rem * var(--tw-space-y-reverse));
}

footer .container-secondary{
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media (min-width: 640px){
  footer .container-secondary{
    padding-top: 2.75rem;
    padding-bottom: 2.75rem;
  }
}

.footer-col > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse));
}

@media (min-width: 640px){
  .footer-col > :not([hidden]) ~ :not([hidden]){
    --tw-space-y-reverse: 0;
    margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
  }
}

.footer-col h6{
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: hsl(var(--secondary) / var(--tw-text-opacity, 1));
}

@media (min-width: 640px){
  .footer-col h6{
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

.footer-col a{
  font-weight: 500;
  --tw-text-opacity: 1;
  color: hsl(var(--primary) / var(--tw-text-opacity, 1));
}

.footer-col .social-links{
  display: flex;
  align-items: stretch;
  gap: 1rem;
}

.footer-col .social-links a{
  display: flex;
  max-height: 2.75rem;
  min-height: 2.75rem;
  min-width: 2.75rem;
  max-width: 2.75rem;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: hsl(var(--secondary) / var(--tw-border-opacity, 1));
}

.contact-link-list > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(0.875rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.875rem * var(--tw-space-y-reverse));
}

@media (min-width: 640px){
  .contact-link-list > :not([hidden]) ~ :not([hidden]){
    --tw-space-y-reverse: 0;
    margin-top: calc(1.25rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1.25rem * var(--tw-space-y-reverse));
  }
}

.contact-link-list li{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.contact-link-list li div{
  display: flex;
  max-height: 2.25rem;
  min-height: 2.25rem;
  min-width: 2.25rem;
  max-width: 2.25rem;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: hsl(var(--secondary) / var(--tw-border-opacity, 1));
  --tw-text-opacity: 1;
  color: hsl(var(--secondary) / var(--tw-text-opacity, 1));
}

.home-about-section{
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../images/footer-bg.png");
}

.breadcrumb-list{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.breadcrumb-list li{
  font-size: 1.125rem;
  line-height: 1.75rem;
  --tw-text-opacity: 1;
  color: hsl(var(--primary) / var(--tw-text-opacity, 1));
}

@media (min-width: 1536px){
  .breadcrumb-list li{
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

.breadcrumb-list li::after {
  content: ">";
  margin-right: 0.5rem;
}

.breadcrumb-list li:nth-last-child(1){
  --tw-text-opacity: 1;
  color: hsl(var(--secondary) / var(--tw-text-opacity, 1));
}

.breadcrumb-list li:nth-last-child(1)::after {
  content: "";
  margin-right: 0px;
}

.product-detail-grid{
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1.5rem;
}

@media (min-width: 640px){
  .product-detail-grid{
    gap: 3rem;
  }
}

@media (min-width: 768px){
  .product-detail-grid{
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 1024px){
  .product-detail-grid{
    gap: 5rem;
  }
}

@media (min-width: 1536px){
  .product-detail-grid{
    gap: 6rem;
  }
}

.product-detail-grid .product-image{
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
  border-radius: 1rem;
  padding-top: 120%;
  box-shadow: 0px 0px 10px 0px rgba(2, 82, 125, 0.25);
}

.product-detail-grid .product-image::after {
  content: "";
  background-image: url("../images/logo.png");
  position: absolute;
  inset: 0px;
  height: 100%;
  width: 100%;
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.25;
}

.product-detail-grid .product-image img{
  position: absolute;
  inset: 0px;
  height: 100%;
  width: 100%;
}

.product-video{
  width: 100%;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px 0px rgba(2, 82, 125, 0.25);
}

.product-video iframe{
  height: 16rem;
}

.product-detail-grid .application-list{
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 0.5rem;
}

@media (min-width: 640px){
  .product-detail-grid .application-list{
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 0.75rem;
  }
}

.product-detail-grid .application-list li{
  position: relative;
  padding-left: 1.75rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 500;
  --tw-text-opacity: 1;
  color: hsl(var(--secondary) / var(--tw-text-opacity, 1));
}

.product-detail-grid .application-list li::before {
  content: "";
  background-image: url("../images/arrow.png");
  background-size: 20px;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 50%;
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.product-detail-grid .custom-table{
  width: 100%;
}

.product-detail-grid .custom-table > :not([hidden]) ~ :not([hidden]){
  --tw-divide-y-reverse: 0;
  border-top-width: calc(1px * calc(1 - var(--tw-divide-y-reverse)));
  border-bottom-width: calc(1px * var(--tw-divide-y-reverse));
  --tw-divide-opacity: 1;
  border-color: hsl(var(--primary) / var(--tw-divide-opacity, 1));
}

.product-detail-grid .custom-table{
  overflow: hidden;
  border-radius: 1rem;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: hsl(var(--primary) / var(--tw-border-opacity, 1));
}

.product-detail-grid .custom-table .row{
  display: flex;
  align-items: stretch;
}

.product-detail-grid .custom-table .row > :not([hidden]) ~ :not([hidden]){
  --tw-divide-x-reverse: 0;
  border-right-width: calc(1px * var(--tw-divide-x-reverse));
  border-left-width: calc(1px * calc(1 - var(--tw-divide-x-reverse)));
  --tw-divide-opacity: 1;
  border-color: hsl(var(--primary) / var(--tw-divide-opacity, 1));
}

.product-detail-grid .custom-table .row:nth-child(1) > :not([hidden]) ~ :not([hidden]){
  --tw-divide-opacity: 1;
  border-color: hsl(var(--white) / var(--tw-divide-opacity, 1));
}

.product-detail-grid .custom-table .row:nth-child(1){
  --tw-bg-opacity: 1;
  background-color: hsl(var(--primary) / var(--tw-bg-opacity, 1));
}

.product-detail-grid .custom-table .row:nth-child(1) div{
  --tw-text-opacity: 1 !important;
  color: hsl(var(--white) / var(--tw-text-opacity, 1)) !important;
}

.product-detail-grid .custom-table .row div{
  width: 50%;
  padding-top: 0.875rem;
  padding-bottom: 0.875rem;
  padding-left: 0.875rem;
  padding-right: 0.875rem;
  --tw-text-opacity: 1;
  color: hsl(var(--primary) / var(--tw-text-opacity, 1));
}

@media (min-width: 1536px){
  .product-detail-grid .custom-table .row div{
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }
}

.product-detail-grid .custom-table .row div:nth-child(3){
  width: 25%;
  flex: 1 1 auto;
}

.product-detail-grid .custom-table .row div:nth-child(2){
  width: 25%;
  flex: 1 1 auto;
}

.product-detail-grid .custom-table .row div:nth-child(1){
  font-weight: 600;
  --tw-text-opacity: 1;
  color: hsl(var(--secondary) / var(--tw-text-opacity, 1));
}

.quality-box{
  overflow: hidden;
  border-radius: 1.5rem;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: hsl(var(--secondary) / var(--tw-border-opacity, 1));
}

.quality-box p{
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  text-align: center;
  --tw-text-opacity: 1;
  color: hsl(var(--secondary) / var(--tw-text-opacity, 1));
}

.quality-box div{
  --tw-bg-opacity: 1;
  background-color: hsl(var(--primary) / var(--tw-bg-opacity, 1));
  padding-bottom: 0.625rem;
  padding-top: 1.75rem;
}

.quality-box div h6{
  text-align: center;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: hsl(var(--white) / var(--tw-text-opacity, 1));
}

header{
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

@media (min-width: 1536px){
  header{
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

header nav{
  display: flex;
  width: 100%;
  list-style-type: none;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

header nav li:nth-last-child(1) a{
  text-wrap: nowrap;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

header nav .nav-list{
  display: flex;
  flex: 1 1 0%;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}

header nav .nav-list a,
header nav .nav-list button{
  position: relative;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: hsl(var(--secondary) / var(--tw-text-opacity, 1));
}

header nav .nav-list button{
  padding-right: 1.25rem;
}

header nav .nav-list button::after {
  content: "";
  background-image: url("../images/dropdown-arrow.png");
  position: absolute;
  right: 0px;
  top: 50%;
  height: 0.75rem;
  width: 0.75rem;
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  background-size: contain;
}

header nav .nav-list li:nth-last-child(1) a{
  font-size: 1rem !important;
  line-height: 1.5rem !important;
}

.choose-option-list{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 64rem;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../images/why-bg.png");
}

.choose-option-list li{
  position: relative;
  display: flex;
  align-items: center;
  gap: 3rem;
  overflow: hidden;
  border-top-width: 1px;
  --tw-border-opacity: 1;
  border-color: hsl(var(--primary) / var(--tw-border-opacity, 1));
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.choose-option-list li:nth-child(even){
  flex-direction: row-reverse;
  border-top-right-radius: 9999px;
  border-bottom-right-radius: 9999px;
  border-right-width: 1px;
  --tw-border-opacity: 1;
  border-color: hsl(var(--primary) / var(--tw-border-opacity, 1));
}

.choose-option-list li:nth-child(odd){
  border-top-left-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-left-width: 1px;
  --tw-border-opacity: 1;
  border-color: hsl(var(--secondary) / var(--tw-border-opacity, 1));
}

.choose-option-list li:nth-last-child(1){
  border-bottom-width: 1px;
  --tw-border-opacity: 1;
  border-color: hsl(var(--primary) / var(--tw-border-opacity, 1));
}

.choose-option-list li h5{
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: hsl(var(--primary) / var(--tw-text-opacity, 1));
}

@media (min-width: 1536px){
  .choose-option-list li h5{
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

.choose-option-list li p{
  max-width: 620px;
  font-size: 1.125rem;
  line-height: 1.75rem;
  --tw-text-opacity: 1;
  color: hsl(var(--secondary) / var(--tw-text-opacity, 1));
}

@media (min-width: 1536px){
  .choose-option-list li p{
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}
