@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Ovo&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 17 88% 58%;
  --secondary: 201 97% 25%;
  --border: 200 98% 25%;
  --white: 0 0% 100%;
}

.container-secondary {
  @apply w-full mx-auto px-2.5 2xl:max-w-[1490px] max-w-7xl;
}

.hero-section {
  @apply w-full grid grid-cols-2 items-center;
}

.hero-section .video-player {
  @apply w-full rounded-b-full relative pt-[70%] overflow-hidden flex items-center justify-center after:bg-secondary after:opacity-80 after:absolute after:inset-0;
}

.hero-section .video-player div {
  @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 z-20 2xl:space-y-12 space-y-10;
}

.hero-section .video-player video {
  @apply absolute inset-0 w-full;
}

.hero-section .video-player div h1 {
  @apply font-bold 2xl:text-8xl text-7xl text-white font-sans-secondary;
}

.hero-section img {
  @apply h-auto max-w-lg 2xl:max-w-2xl mx-auto -mt-12;
}

.btn {
  @apply bg-primary text-white font-semibold text-xl 2xl:text-2xl w-fit block 2xl:py-3 2xl:px-8 py-2.5 px-6 rounded-full;
}

.regular-section {
  @apply w-full 2xl:space-y-24 space-y-16 py-12;
}

.section-title {
  @apply font-bold text-center 2xl:text-5xl text-4xl text-secondary relative w-fit mx-auto;
}

.section-title::after {
  content: "";
  @apply absolute -right-16 -top-2 min-w-11 min-h-11 max-w-11 max-h-11 border border-primary rounded-full;
}

.section-title::before {
  content: "";
  @apply absolute -right-16 -top-5 min-w-6 min-h-6 max-w-6 max-h-6 border border-secondary rounded-full;
}

.section-title span {
  @apply text-primary;
}

.section-sub-title {
  @apply text-xl 2xl:text-2xl font-light text-secondary text-center;
}

.categories-list-home {
  @apply gap-2.5 grid grid-cols-3;
}

.categories-list-home li a {
  @apply relative pt-[90%] overflow-hidden;
}

.categories-list-home li a::after {
  content: "";
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(2, 82, 125, 1) 100%
  );
  @apply absolute inset-0 z-20 opacity-60 transition-colors;
}

.categories-list-home li a:hover::after,
.categories-list-home li a:focus::after {
  content: "";
  background: transparent;
}

.categories-list-home li a img {
  @apply w-full h-full object-cover;
}

.categories-list-home li div {
  @apply absolute bottom-2 left-4 z-50;
}

.categories-list-home li a:hover div h5,
.categories-list-home li a:focus div h5 {
  @apply text-secondary;
}

.categories-list-home li div h5 {
  @apply font-bold text-white 2xl:text-2xl text-xl;
}

.categories-list-home li div h6 {
  @apply text-primary font-medium 2xl:text-lg text-base;
}

.certificates-list {
  @apply flex items-stretch justify-center 2xl:gap-5 gap-3.5;
}

.certificates-list li p {
  @apply font-semibold text-base mt-3 max-w-52 text-center;
}

.certificates-list li:nth-child(odd) p {
  @apply text-primary;
}

.certificates-list li:nth-child(even) p {
  @apply text-secondary;
}

.certificates-list li .certificates-img {
  @apply relative pt-64 block;
}

.certificates-list li .certificates-img img {
  @apply absolute inset-0 w-full h-full object-contain;
}

.qualities-list {
  @apply grid grid-cols-2 2xl:gap-36 gap-24;
}

.qualities-list li:nth-child(odd) .qualities-box {
  @apply ml-auto;
}

.qualities-list li:nth-child(even) .qualities-box {
  @apply mr-auto;
}

.qualities-box {
  @apply p-7 space-y-6 max-w-[415px] rounded-xl min-h-72;
  -webkit-box-shadow: 0px 0px 45.8px -9px rgba(2, 82, 125, 0.5);
  -moz-box-shadow: 0px 0px 45.8px -9px rgba(2, 82, 125, 0.5);
  box-shadow: 0px 0px 45.8px -9px rgba(2, 82, 125, 0.5);
}

.qualities-box p {
  @apply font-semibold text-sm text-secondary text-center;
}

.qualities-box h6 {
  @apply text-primary font-semibold text-3xl text-center mt-4;
}

.qualities-box svg {
  @apply mx-auto -mt-16 w-28 h-24;
}

.home-prduct-list {
  @apply w-full overflow-hidden;
}

.home-prduct-list li {
  @apply inline-block pl-14;
}

.home-prduct-list li:nth-child(1) {
  @apply pl-0;
}

.home-prduct-list li a {
  @apply text-xl tracking-[5px];
}

.home-prduct-list li:nth-child(odd) a {
  @apply text-secondary;
}

.home-prduct-list li:nth-child(even) a {
  @apply text-primary;
}

.product-list-marquee {
  @apply flex items-stretch;
}

.product-list-marquee li {
  @apply relative min-w-80 min-h-80;
}

.product-list-marquee li:nth-child(odd) .hexagon {
  @apply bg-primary;
}

.hexagon {
  @apply w-full h-full relative overflow-hidden;
  clip-path: polygon(
    93.56% 74.55%,
    50.52% 100%,
    6.96% 75.45%,
    6.44% 25.45%,
    49.48% 0%,
    93.04% 24.55%,
    93.56% 74.55%,
    calc(93.04% - 0.86px) calc(24.55% - -0.51px),
    calc(49.48% - -0.01px) calc(0% - -1px),
    calc(6.44% - -0.87px) calc(25.45% - -0.49px),
    calc(6.96% - -0.86px) calc(75.45% - 0.51px),
    calc(50.52% - 0.01px) calc(100% - 1px),
    calc(93.56% - 0.87px) calc(74.55% - 0.49px),
    calc(93.04% - 0.86px) calc(24.55% - -0.51px)
  );
}

.product-list-marquee li:nth-child(even) .hexagon {
  @apply bg-secondary;
}

.product-list-marquee li img {
  @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 object-contain;
}

.page-heading {
  @apply w-full text-center bg-secondary text-white py-7;
}

.page-heading h1 {
  @apply font-sans-secondary text-[80px] font-bold;
}

.page-heading h5 {
  @apply font-serif text-xl;
}

.photos-grid {
  @apply grid grid-cols-4 2xl:gap-9 gap-6;
}

.photos-grid li {
  -webkit-box-shadow: 0px 0px 10px 1px rgba(2, 82, 125, 0.25);
  -moz-box-shadow: 0px 0px 10px 1px rgba(2, 82, 125, 0.25);
  box-shadow: 0px 0px 10px 1px rgba(2, 82, 125, 0.25);
}

.video-grid {
  @apply grid grid-cols-2 2xl:gap-36 gap-24;
}
