@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Ovo&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 17 88% 58%;
  --secondary: 201 97% 25%;
  --border: 200 98% 25%;
  --white: 0 0% 100%;
}

.hero-section {
  @apply w-full grid grid-cols-2 items-center;
}

.hero-section .video-player {
  @apply w-full rounded-b-full relative pt-[70%] overflow-hidden flex items-center justify-center after:bg-secondary after:opacity-80 after:absolute after:inset-0;
}

.hero-section .video-player div {
  @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 z-20 2xl:space-y-12 space-y-10;
}

.hero-section .video-player video {
  @apply absolute inset-0 w-full;
}

.hero-section .video-player div h1 {
  @apply font-bold 2xl:text-8xl text-7xl text-white font-sans-secondary;
}

.hero-section img {
  @apply h-auto max-w-lg 2xl:max-w-2xl mx-auto -mt-12;
}

.btn {
  @apply bg-primary text-white font-semibold text-xl 2xl:text-2xl w-fit block 2xl:py-3 2xl:px-8 py-2.5 px-6 rounded-full;
}

.regular-section {
  @apply w-full 2xl:space-y-24 space-y-20;
}

.section-title {
  @apply font-bold text-center 2xl:text-5xl text-4xl text-secondary relative w-fit mx-auto;
}

.section-title::after {
  content: "";
  @apply absolute -right-16 -top-2 min-w-11 min-h-11 max-w-11 max-h-11 border border-primary rounded-full;
}

.section-title::before {
  content: "";
  @apply absolute -right-16 -top-5 min-w-6 min-h-6 max-w-6 max-h-6 border border-secondary rounded-full;
}

.section-title span {
  @apply text-primary;
}

.section-sub-title {
  @apply text-xl 2xl:text-2xl font-light text-secondary text-center;
}

.categories-list-home {
  @apply gap-2.5 grid grid-cols-3;
}

.categories-list-home li {
  @apply relative pt-[90%] overflow-hidden;
}

.categories-list-home li::after {
  content: "";
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(2, 82, 125, 1) 100%
  );
  @apply absolute inset-0 z-20 opacity-60 transition-colors;
}

.categories-list-home li:hover::after {
  content: "";
  background: transparent;
}

.categories-list-home li a {
  @apply absolute inset-0 w-full h-full z-20;
}

.categories-list-home li a img {
  @apply w-full h-full object-cover;
}

.categories-list-home li div {
  @apply absolute bottom-2 left-4 z-50;
}

.categories-list-home li div h5 {
  @apply font-bold text-white text-2xl;
}
