@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Ovo&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scroll-behavior: smooth;
}

:root {
  --primary: 17 88% 58%;
  --secondary: 201 97% 25%;
  --border: 200 98% 25%;
  --white: 0 0% 100%;
}

.container-secondary {
  @apply w-full mx-auto px-2.5 2xl:max-w-[1490px] max-w-7xl;
}

.hero-section {
  @apply w-full grid md:grid-cols-2 grid-cols-1 gap-6 md:gap-0 items-center;
}

.hero-section .video-player {
  @apply w-full md:rounded-b-full relative pt-[70%] overflow-hidden flex items-center justify-center after:bg-secondary after:opacity-80 after:absolute after:inset-0;
}

.hero-section .video-player div {
  @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 z-20 2xl:space-y-12 md:space-y-10 space-y-6;
}

.hero-section .video-player video {
  @apply absolute inset-0 w-full;
}

.hero-section .video-player div h1 {
  @apply font-bold 2xl:text-8xl md:text-7xl text-6xl text-white font-sans-secondary;
}

.hero-section img {
  @apply h-auto md:max-w-lg 2xl:max-w-2xl mx-auto md:-mt-12;
}

.btn {
  @apply bg-primary text-white sm:font-semibold sm:text-xl text-lg 2xl:text-2xl w-fit block 2xl:py-3 2xl:px-8 sm:py-2.5 py-2 sm:px-6 px-4 rounded-full;
}

.regular-section {
  @apply w-full 2xl:space-y-24 sm:space-y-16 space-y-8 md:py-12 py-9;
}

.section-title {
  @apply font-bold text-center 2xl:text-5xl md:text-4xl text-2xl text-secondary relative w-fit mx-auto;
}

.section-title::after {
  content: "";
  @apply absolute md:-right-16 -right-9 -top-2 md:min-w-11 md:min-h-11 md:max-w-11 md:max-h-11 min-w-8 min-h-8 max-w-8 max-h-8 border border-primary rounded-full;
}

.section-title::before {
  content: "";
  @apply absolute md:-right-16 -right-9 md:-top-5 -top-3 md:min-w-6 md:min-h-6 md:max-w-6 md:max-h-6 min-w-3.5 min-h-3.5 max-w-3.5 max-h-3.5 border border-secondary rounded-full;
}

.section-title span {
  @apply text-primary;
}

.section-sub-title {
  @apply md:text-xl text-sm 2xl:text-2xl font-light text-secondary text-center;
}

.categories-list-home {
  @apply gap-2.5 grid md:grid-cols-3;
}

.categories-list-home li a {
  @apply relative md:pt-[90%] pt-[6%] overflow-hidden;
}

.categories-list-home li a::after {
  content: "";
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(2, 82, 125, 1) 100%
  );
  @apply absolute inset-0 z-20 opacity-60 transition-colors;
}

.categories-list-home li a:hover::after,
.categories-list-home li a:focus::after {
  content: "";
  background: transparent;
}

.categories-list-home li a img {
  @apply w-full h-full object-cover;
}

.categories-list-home li div {
  @apply absolute bottom-2 left-4 z-50;
}

.categories-list-home li a:hover div h5,
.categories-list-home li a:focus div h5 {
  @apply text-secondary;
}

.categories-list-home li div h5 {
  @apply font-bold text-white 2xl:text-2xl text-xl;
}

.categories-list-home li div h6 {
  @apply text-primary font-medium 2xl:text-lg text-base;
}

.certificates-list {
  @apply flex items-stretch flex-wrap md:flex-nowrap justify-center 2xl:gap-5 gap-3.5;
}

.certificates-list li p {
  @apply font-semibold text-base mt-3 max-w-52 text-center;
}

.certificates-list li:nth-child(odd) p {
  @apply text-primary;
}

.certificates-list li:nth-child(even) p {
  @apply text-secondary;
}

.certificates-list li .certificates-img {
  @apply relative pt-64 block;
}

.certificates-list li .certificates-img img {
  @apply absolute inset-0 w-full h-full object-contain;
}

.qualities-list {
  @apply grid md:grid-cols-2 grid-cols-1 px-4 md:px-0 2xl:gap-36 md:gap-24 sm:gap-16 gap-12;
}

.qualities-list li:nth-child(odd) .qualities-box {
  @apply md:ml-auto max-[768px]:mx-auto;
}

.qualities-list li:nth-child(even) .qualities-box {
  @apply md:mr-auto max-[768px]:mx-auto;
}

.qualities-box {
  @apply sm:p-7 p-4 sm:space-y-6 space-y-2.5 max-w-[415px] rounded-xl sm:min-h-72 min-h-48;
  -webkit-box-shadow: 0px 0px 45.8px -9px rgba(2, 82, 125, 0.5);
  -moz-box-shadow: 0px 0px 45.8px -9px rgba(2, 82, 125, 0.5);
  box-shadow: 0px 0px 45.8px -9px rgba(2, 82, 125, 0.5);
}

.qualities-box p {
  @apply font-semibold text-sm text-secondary text-center;
}

.qualities-box h6 {
  @apply text-primary font-semibold sm:text-3xl text-xl text-center mt-4;
}

.qualities-box svg {
  @apply mx-auto sm:-mt-16 -mt-10 sm:w-28 w-20 sm:h-24 h-auto;
}

.home-prduct-list {
  @apply w-full overflow-hidden;
}

.home-prduct-list li {
  @apply inline-block pl-14;
}

.home-prduct-list li:nth-child(1) {
  @apply pl-0;
}

.home-prduct-list li a {
  @apply text-xl tracking-[5px];
}

.home-prduct-list li:nth-child(odd) a {
  @apply text-secondary;
}

.home-prduct-list li:nth-child(even) a {
  @apply text-primary;
}

.product-list-marquee {
  @apply flex items-stretch flex-nowrap overflow-x-auto pb-1.5;
}

.product-list-marquee li {
  @apply relative md:min-w-80 min-w-52 md:min-h-80 min-h-52  list-none;
}

.product-list-marquee.about li {
  @apply md:min-w-52 md:min-h-52 min-w-32 min-h-32;
}

.product-list-marquee li:nth-child(odd) .hexagon {
  @apply bg-primary;
}

.hexagon {
  @apply w-full h-full relative overflow-hidden;
  clip-path: polygon(
    93.56% 74.55%,
    50.52% 100%,
    6.96% 75.45%,
    6.44% 25.45%,
    49.48% 0%,
    93.04% 24.55%,
    93.56% 74.55%,
    calc(93.04% - 0.86px) calc(24.55% - -0.51px),
    calc(49.48% - -0.01px) calc(0% - -1px),
    calc(6.44% - -0.87px) calc(25.45% - -0.49px),
    calc(6.96% - -0.86px) calc(75.45% - 0.51px),
    calc(50.52% - 0.01px) calc(100% - 1px),
    calc(93.56% - 0.87px) calc(74.55% - 0.49px),
    calc(93.04% - 0.86px) calc(24.55% - -0.51px)
  );
}

.product-list-marquee li:nth-child(even) .hexagon {
  @apply bg-secondary;
}

.product-list-marquee li img {
  @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 object-contain w-16 md:w-auto;
}

.product-list-marquee.about li img {
  @apply md:w-16 w-10 h-auto;
}

.page-heading {
  @apply w-full text-center bg-secondary text-white sm:py-7 py-4;
}

.page-heading h1 {
  @apply font-sans-secondary md:text-[80px] sm:text-5xl text-4xl font-bold;
}

.page-heading h5 {
  @apply font-serif md:text-xl text-base;
}

.photos-grid {
  @apply grid md:grid-cols-4 grid-cols-2 2xl:gap-9 lg:gap-6 gap-4;
}

.photos-grid li {
  -webkit-box-shadow: 0px 0px 10px 1px rgba(2, 82, 125, 0.25);
  -moz-box-shadow: 0px 0px 10px 1px rgba(2, 82, 125, 0.25);
  box-shadow: 0px 0px 10px 1px rgba(2, 82, 125, 0.25);
}

.video-grid {
  @apply grid md:grid-cols-2 grid-cols-1 2xl:gap-36 lg:gap-24 md:gap-16 gap-6;
}

.video-grid li {
  @apply rounded-3xl overflow-hidden shadow-2xl;
  -webkit-box-shadow: 0px 0px 10px 3px rgba(2, 82, 125, 0.6);
  -moz-box-shadow: 0px 0px 10px 3px rgba(2, 82, 125, 0.6);
  box-shadow: 0px 0px 10px 3px rgba(2, 82, 125, 0.6);
}

.video-grid li iframe {
  @apply w-full sm:h-80 h-52;
}

.filter-tab-list {
  @apply w-full flex gap-8 pb-2.5 justify-evenly overflow-x-auto flex-nowrap;
}

.filter-tab-list button {
  @apply text-secondary font-semibold text-base text-left flex-1 text-nowrap;
}

.filter-tab-list button.active,
.filter-tab-list button.mixitup-control-active {
  @apply text-primary;
}

.product-grid {
  @apply grid md:grid-cols-3 grid-cols-1 gap-x-5 gap-y-24;
}

.product-grid .product-card {
  @apply sm:space-y-7 space-y-4;
}

.product-grid .product-card .img {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(2, 82, 125, 0.25);
  -moz-box-shadow: 0px 0px 10px 0px rgba(2, 82, 125, 0.25);
  box-shadow: 0px 0px 10px 0px rgba(2, 82, 125, 0.25);
  @apply relative pt-[86%] rounded-3xl flex items-center justify-center;
}

.product-grid .product-card .img img {
  @apply absolute inset-0 w-full h-full object-contain;
}

.product-grid .product-card h6 {
  @apply 2xl:text-2xl sm:text-xl text-lg text-secondary text-center max-w-64 mx-auto sm:mb-5 mb-3;
}

.product-grid .product-card .product-btn {
  @apply font-semibold text-base text-secondary border border-primary rounded-lg 2xl:py-3 sm:py-2.5 py-2 sm:px-8 px-5  block w-fit text-center mx-auto 2xl:px-11;
}

.terms-list p {
  @apply text-secondary sm:text-base text-sm text-center;
}

.contact-info-box {
  @apply rounded-xl p-4 sm:space-y-7 space-y-3.5;
  -webkit-box-shadow: 0px 0px 45.8px -9px rgba(2, 82, 125, 0.3);
  -moz-box-shadow: 0px 0px 45.8px -9px rgba(2, 82, 125, 0.3);
  box-shadow: 0px 0px 45.8px -9px rgba(2, 82, 125, 0.3);
}

.contact-info-box h5 {
  @apply font-semibold text-primary sm:text-2xl text-xl text-center;
}

.contact-info-box a,
.contact-info-box p {
  @apply text-center text-secondary block sm:text-base text-sm;
}

.contact-info-box .icon {
  @apply bg-primary text-white flex items-center justify-center md:-mt-12 -mt-9 rounded-full mx-auto 2xl:min-w-[90px] 2xl:min-h-[90px] 2xl:max-w-[90px] 2xl:max-h-[90px] md:min-w-[72px] md:max-w-[72px] md:min-h-[72px] md:max-h-[72px] min-w-14 min-h-14 max-w-14 max-h-14;
}

.contact-form {
  @apply w-full max-w-4xl mx-auto grid md:grid-cols-2 grid-cols-1 gap-5 px-4;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
  @apply bg-white border border-primary rounded-xl md:py-8 py-3 md:px-10 px-3.5 placeholder:text-secondary placeholder:opacity-30;
  -webkit-box-shadow: 0px 0px 45.8px -9px rgba(2, 82, 125, 0.1);
  -moz-box-shadow: 0px 0px 45.8px -9px rgba(2, 82, 125, 0.1);
  box-shadow: 0px 0px 45.8px -9px rgba(2, 82, 125, 0.1);
}

.contact-form textarea {
  @apply md:col-span-2 col-auto min-h-44 resize-none;
}

footer {
  @apply w-full border-t-4 border-primary;
  -webkit-box-shadow: 0px 0px 27px 19px rgba(1, 82, 124, 0.15);
  -moz-box-shadow: 0px 0px 27px 19px rgba(1, 82, 124, 0.15);
  box-shadow: 0px 0px 27px 19px rgba(1, 82, 124, 0.15);
}

footer .container-secondary {
  background-image: url("../images/footer-bg.png");
  @apply space-y-8 sm:py-11 py-8 bg-contain bg-center bg-no-repeat max-w-5xl;
}

.footer-col {
  @apply sm:space-y-6 space-y-4;
}

.footer-col h6 {
  @apply font-semibold sm:text-xl text-lg text-secondary;
}

.footer-col a {
  @apply text-primary font-medium;
}

.footer-col .social-links {
  @apply flex items-stretch gap-4;
}

.footer-col .social-links a {
  @apply border border-secondary flex items-center justify-center rounded-full min-w-11 min-h-11 max-w-11 max-h-11;
}

.contact-link-list {
  @apply sm:space-y-5 space-y-3.5;
}

.contact-link-list li {
  @apply flex items-center gap-4;
}

.contact-link-list li div {
  @apply border border-secondary rounded-full text-secondary flex items-center justify-center min-w-9 min-h-9 max-w-9 max-h-9;
}

.home-about-section {
  @apply flex items-start flex-col lg:flex-row lg:gap-4 gap-8 bg-contain bg-center bg-no-repeat;
  background-image: url("../images/footer-bg.png");
}

.breadcrumb-list {
  @apply flex items-center flex-wrap;
}

.breadcrumb-list li {
  @apply 2xl:text-xl text-lg text-primary;
}

.breadcrumb-list li::after {
  content: ">";
  @apply mr-2;
}

.breadcrumb-list li:nth-last-child(1) {
  @apply text-secondary;
}

.breadcrumb-list li:nth-last-child(1)::after {
  content: "";
  @apply mr-0;
}

.product-detail-grid {
  @apply grid md:grid-cols-3 grid-cols-1 2xl:gap-24 lg:gap-20 sm:gap-12 gap-6;
}

.product-detail-grid .product-image {
  @apply w-full relative pt-[120%] rounded-2xl overflow-hidden block;
  -moz-box-shadow: 0px 0px 10px 0px rgba(2, 82, 125, 0.25);
  box-shadow: 0px 0px 10px 0px rgba(2, 82, 125, 0.25);
}

.product-detail-grid .product-image::after {
  content: "";
  background-image: url("../images/logo.png");
  @apply absolute inset-0 w-full h-full bg-auto opacity-25 bg-no-repeat bg-center;
}

.product-detail-grid .product-image img {
  @apply absolute inset-0 w-full h-full;
}

.product-video {
  @apply w-full rounded-2xl overflow-hidden;
  -moz-box-shadow: 0px 0px 10px 0px rgba(2, 82, 125, 0.25);
  box-shadow: 0px 0px 10px 0px rgba(2, 82, 125, 0.25);
}

.product-video iframe {
  @apply h-64;
}

.product-detail-grid .application-list {
  @apply grid sm:grid-cols-2 grid-cols-1 sm:gap-3 gap-2;
}

.product-detail-grid .application-list li {
  @apply text-secondary text-lg font-medium relative pl-7;
}

.product-detail-grid .application-list li::before {
  content: "";
  background-image: url("../images/arrow.png");
  background-size: 20px;
  width: 20px;
  height: 20px;
  @apply absolute left-0 top-1/2 -translate-y-1/2;
}

.product-detail-grid .custom-table {
  @apply border border-primary rounded-2xl overflow-hidden w-full divide-y divide-primary;
}

.product-detail-grid .custom-table .row {
  @apply flex items-stretch divide-x divide-primary;
}

.product-detail-grid .custom-table .row:nth-child(1) {
  @apply bg-primary  divide-white;
}

.product-detail-grid .custom-table .row:nth-child(1) div {
  @apply !text-white;
}

.product-detail-grid .custom-table .row div {
  @apply w-[50%] 2xl:py-5 py-3.5 px-3.5 text-primary;
}

.product-detail-grid .custom-table .row div:nth-child(3) {
  @apply w-[25%] flex-auto;
}

.product-detail-grid .custom-table .row div:nth-child(2) {
  @apply w-[25%] flex-auto;
}

.product-detail-grid .custom-table .row div:nth-child(1) {
  @apply text-secondary font-semibold;
}

.quality-box {
  @apply border border-secondary rounded-3xl overflow-hidden;
}

.quality-box p {
  @apply py-8 px-5 text-center text-secondary;
}

.quality-box div {
  @apply bg-primary pb-2.5 pt-7;
}

.quality-box div h6 {
  @apply font-semibold text-white text-lg text-center;
}

header {
  @apply 2xl:py-8 sm:py-6 py-4 relative;
}

header nav {
  @apply flex items-center justify-between gap-4 w-full list-none;
}

header nav li:nth-child(1) img {
  @apply max-w-40 lg:max-w-52;
}

header nav li:nth-last-child(1) a {
  @apply text-lg text-nowrap;
}

header nav li:nth-last-child(2) ul {
  @apply lg:flex hidden;
}

header nav li .mobile-nav.nav-list {
  @apply bg-white left-0 top-full !flex flex-col w-full gap-0 divide-y divide-primary border-y border-primary z-50 absolute lg:flex;
}

header nav li .mobile-nav.nav-list li {
  @apply w-full px-2;
}

header nav li .mobile-nav.nav-list li a,
header nav li .mobile-nav.nav-list li button {
  @apply py-2.5 block;
}

header nav .nav-list {
  @apply flex items-center gap-4 flex-1 flex-wrap;
}

header nav .nav-list a,
header nav .nav-list button {
  @apply font-semibold text-base text-secondary relative;
}

header nav .nav-list button {
  @apply pr-5;
}

header nav .nav-list button::after {
  content: "";
  background-image: url("../images/dropdown-arrow.png");
  @apply w-3 h-3 bg-contain absolute right-0 top-1/2 -translate-y-1/2;
}

header nav .nav-list li:nth-last-child(1) a {
  @apply !text-base;
}

.choose-option-list {
  @apply w-full max-w-5xl px-4 md:px-0 mx-auto bg-no-repeat bg-center overflow-hidden;
  background-image: url("../images/why-bg.png");
}

.choose-option-list li {
  @apply flex items-center  md:gap-12 gap-6 md:px-14 px-6 md:py-16 py-8 relative border-t border-primary overflow-hidden;
}

.choose-option-list li:nth-child(even) {
  @apply md:flex-row-reverse flex-col border-r border-primary md:rounded-r-full;
}

.choose-option-list li:nth-child(odd) {
  @apply border-l border-secondary md:rounded-l-full flex-col md:flex-row;
}

.choose-option-list li:nth-last-child(1) {
  @apply border-b border-primary;
}

.choose-option-list li h5 {
  @apply font-bold text-primary 2xl:text-4xl md:text-3xl text-xl;
}

.choose-option-list li p {
  @apply text-secondary md:text-lg text-base 2xl:text-xl max-w-[620px];
}
